* {
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange:hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}
.disactive {
    display: none !important;
}
.active {
    display: block ;
}

.main__container {
    background-color: var(--very-dark-blue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.card__container{
    background-color: var(--dark-blue);
    width: 90%;
    border-radius: 15px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card__image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: hsl(213, 12%, 15%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__tittle {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.card__text {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);
}

.card__numbers {
    display: flex;
    justify-content: space-between;
}
.listed__numbers{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(213, 12%, 15%);
    height: 45px;
    width: 45px;
    padding-top: 2px;
    color: var(--light-grey);
    font-size: 12px;
    cursor: pointer;
    border: none;
}

.card__button{
    background-color: var(--orange);
    border: none;
    border-radius: 35px;
    height: 45px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    color: var(--white);
    cursor: pointer;
}

.listed__numbers:hover {
    background-color: var(--orange);
    color: var(--white);
}
.listed__numbers:focus {
    background-color: var(--light-grey);
    color: var(--white);
}

.card__button:hover{
    background-color: var(--white);
    color: var(--orange);
}

.card__container-thank-you{
    background-color: var(--dark-blue);
    width: 90%;
    border-radius: 15px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.card__image-thank-you {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__rating {
    background-color: hsl(213, 12%, 15%);
    width: 162px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
    border-radius: 75px;
    font-size: 13px;
}
.card__text-thank-you {
    font-size: 15px;
    font-weight: 400;
    color: var(--light-grey);
    text-align: center;
}

@media (min-width: 750px) and (max-width: 1600px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: hidden;
        background-color: gray;
    }
    .main__container {
        margin-top: 35px;
        max-width: 80%;
        max-height: 90vh;
    }
    .card__container{
        max-width: 400px;
        border-radius: 25px;
        padding: 30px 20px;
    }
    .card__container-thank-you {
        max-width: 400px;
        border-radius: 25px;
    }
}